@font-face {
    font-family: "BebasNeueProExpandedExtraBold";
    src: url('../fonts/BebasNeueProExpandedExtraBold.ttf') format(truetype);
    font-weight: 900;
    font-style: bold;
}

@font-face {
    font-family: "BebasNeueProSemiExpandedExtraBoldItalic";
    src: url('../fonts/BebasNeueProSemiExpandedExtraBoldItalic.ttf') format(truetype);
   font-weight: 900;
    font-style: bold italic; 
}